<div class="app-wrapper">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Here is a list of Angular/D3 Components inspired by D3 tutrials. </span>
      </mat-toolbar-row>
  </mat-toolbar>

  <div class="main-content">
    <div class="navigation">
      <div class="author">
        <h3>Starter</h3>
        <div class="tutorials">
          <a routerLink="/starter">starter</a>
          <div>The starter component illustrates how to import D3, how to select a SVG element with D3, and how to manipulate the SVG object.  This is the starting place for all of the tutorials.</div>
        </div>
      </div>
      <div class="author mike-bostick">
        <h3>Mike Bostick</h3>
        <div class="tutorials">
          <a routerLink="/mike/selection">Selection Part 1</a>
          <div>This components demonstrates how to use D3 to select and manipulate existing SVG elements.</div>
          <a routerLink="/mike/selection-two">Selection Part 2</a>
          <div>This components demonstrates how to use D3 to update existing SVG elements after they have been operated on.</div>
          <a routerLink="/mike/binding">Data Binding</a>
          <div>This components demonstrates how to use D3 to bind data to svg existing components.</div>
          <a routerLink="/mike/extra">Data Binding Extra (enter)</a>
          <div>This components demonstrates how to use D3 add svg elements based on the existing data.</div>
          <a routerLink="/mike/delete">Data Delete (exit)</a>
          <div>This components demonstrates how to use D3 delete svg elements based on the existing data.</div>
        </div>
        <div class="author curran-kelleher">
          <h3>Curran Kelleher</h3>
          <div class="tutorials">
            <a routerLink="curran/smiley/starter">Smiley Starter</a>
            <div>The smiley starter is square because that shape makes sense for a smiley face!</div>
            <a routerLink="curran/smiley/faceEyes">Smiley Face & Eyes</a>
            <div>Face and eyes.</div>
            <a routerLink="curran/smiley/faceEyesMouth">Smiley Face, Eyes, and Mouth</a>
            <div>Face, Eyes, and Mouth.</div>
            <a routerLink="curran/smiley/faceEyesMouthBrows">Smiley Face, Eyes, Mouth, and Eye Brows</a>
            <div>Face, Eyes, Mouth, and Eye Brows.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="visualizations">
    <router-outlet></router-outlet>
  </div>

  </div>
</div>


