.app-wrapper
{
    .main-content
    {
        display: flex;
        margin: 10px;
        .navigation
        {
            flex: 1;
            .author
            {
                margin-top: 20px;

                .tutorials
                {
                    margin-left: 10px;
                }
            }
        }
        .visualizations
        {
            flex: 1;
        }



    }
}