<mat-card class="basic-d3">
    <mat-card-header>
      <mat-card-title>D3 Practice Inspired By Mike Bostick</mat-card-title>
      <mat-card-subtitle>
            Select an SVG and add three circles part 1.  Lifted (I mean inspired by) from <a href="https://bost.ocks.org/mike/circles/">https://bost.ocks.org/mike/circles/</a>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <svg #svg width="720" height="120">
            <circle cx="40" cy="60" r="10"></circle>
            <circle cx="80" cy="60" r="10"></circle>
            <circle cx="120" cy="60" r="10"></circle>
          </svg>
    </mat-card-content>
  </mat-card>